# Web Scraping and Database Exercises Assignment

**Q1: Import any libraries you think you'll need to scrape a website.**

In [1]:
# Your code here
import requests
from bs4 import BeautifulSoup

**Q2: Use requests library and BeautifulSoup to connect to http://books.toscrape.com/ and get the prices of five start rating only.**

In [2]:
# Your code here
import requests
from bs4 import BeautifulSoup
url = "http://books.toscrape.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
books = soup.find_all('article', class_='product_pod')
print("Prices of five star rating books:")
for book in books:
    rating = book.find('p', class_='star-rating')['class'][1]
    if rating == "Five":
        price = book.find('p', class_='price_color').text
        print(price)

Prices of five star rating books:
Â£54.23
Â£17.46
Â£52.29
Â£35.02

**Q3: Get the books that related to Science Fiction part.**

In [3]:
# Your code here
import requests
from bs4 import BeautifulSoup
url = "http://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
books = soup.find_all('article', class_='product_pod')
print("Science Fiction Books:")
for book in books:
    title = book.find('h3').find('a')['title']
    price = book.find('p', class_='price_color').text
    print(f"Title: {title}, Price: {price}")

Science Fiction Books:
Title: Mesaerion: The Best Science Fiction Stories 1800-1849, Price: Â£37.59
Title: Join, Price: Â£35.67
Title: William Shakespeare's Star Wars: Verily, A New Hope (William Shakespeare's Star Wars #4), Price: Â£43.30
Title: The Project, Price: Â£10.65
Title: Soft Apocalypse, Price: Â£26.12
Title: Sleeping Giants (Themis Files #1), Price: Â£48.74
Title: Arena, Price: Â£21.36
Title: Foundation (Foundation (Publication Order) #1), Price: Â£32.42
Title: The Restaurant at the End of the Universe (Hitchhiker's Guide to the Galaxy #2), Price: Â£10.92
Title: Ready Player One, Price: Â£19.07
Title: Life, the Universe and Everything (Hitchhiker's Guide to the Galaxy #3), Price: Â£33.26
Title: Dune (Dune #1), Price: Â£54.86
Title: Do Androids Dream of Electric Sheep? (Blade Runner #1), Price: Â£51.48
Title: Three Wishes (River of Time: California #1), Price: Â£44.18
Title: The Last Girl (The Dominion Trilogy #1), Price: Â£36.26
Title: Having the Barbarian's Baby (Ice Planet Barbarians #7.5), Price: Â£34.96

<hr>

**Q4: Follow the Instruction and complete the Tasks below**

1. Make a dictionary named **mybooks** with four keys and at least three values for each key.

<i>keys: Title, Author, ISBN, Pages</i>

2. Convert the dictionary to DataFrame using Pandas library.

3. Update the DataFrame by adding a new column (Publisher along with values).

4. Make a database (library) using your virtual web-server (xampp). 

5. Make a table called (book_records) with simialr column names as your dictionary (ID, Title, Author, ISBN, Pages, Publisher). Hint: ID should be automatic

6. Prepare to connect Python with MySQL in your Jupyter Notebook.

7. Make an insert query and send the DataFrame contents to your database table.

8. Make sure that all the data successfully trasfered from Python to Database.

In [8]:
# Your code here
import pandas as pd
mybooks = {
    'Title': ['Python Basics', 'Learn SQL', 'Data Science with Python'],
    'Author': ['John Doe', 'Jane Smith', 'Alice Brown'],
    'ISBN': ['12345', '67890', '11223'],
    'Pages': [250, 300, 450]
}
df = pd.DataFrame(mybooks)
df['Publisher'] = ['Packt', 'OReilly', 'Springer']
print(df)

                      Title       Author   ISBN  Pages Publisher
0             Python Basics     John Doe  12345    250     Packt
1                 Learn SQL   Jane Smith  67890    300   OReilly
2  Data Science with Python  Alice Brown  11223    450  Springer

In [9]:
import mysql.connector
import pandas as pd
data = {
    'Title': ['Book 1', 'Book 2', 'Book 3'],
    'Author': ['Author 1', 'Author 2', 'Author 3'],
    'ISBN': ['123-456-789', '987-654-321', '555-555-555'],
    'Pages': [200, 150, 250],
    'Publisher': ['Publisher 1', 'Publisher 2', 'Publisher 3']
}

df = pd.DataFrame(data)
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="library"
)
cursor = connection.cursor()
for _, row in df.iterrows():
    insert_query = """
        INSERT INTO book_records (Title, Author, ISBN, Pages, Publisher)
        VALUES (%s, %s, %s, %s, %s)
    """
    cursor.execute(insert_query, tuple(row))
connection.commit()
cursor.execute("SELECT * FROM book_records")
for record in cursor.fetchall():
    print(record)
cursor.close()
connection.close()

(1, 'Book 1', 'Author 1', '123-456-789', 200, 'Publisher 1')
(2, 'Book 2', 'Author 2', '987-654-321', 150, 'Publisher 2')
(3, 'Book 3', 'Author 3', '555-555-555', 250, 'Publisher 3')
(4, 'Python Basics', 'John Doe', '12345', 250, 'Packt')
(5, 'Learn SQL', 'Jane Smith', '67890', 300, 'OReilly')
(6, 'Data Science with Python', 'Alice Brown', '11223', 450, 'Springer')
(7, 'Python Basics', 'John Doe', '12345', 250, 'Packt')
(8, 'Learn SQL', 'Jane Smith', '67890', 300, 'OReilly')
(9, 'Data Science with Python', 'Alice Brown', '11223', 450, 'Springer')
(10, 'Python Basics', 'John Doe', '12345', 250, 'Packt')
(11, 'Learn SQL', 'Jane Smith', '67890', 300, 'OReilly')
(12, 'Data Science with Python', 'Alice Brown', '11223', 450, 'Springer')
(13, 'Book 1', 'Author 1', '123-456-789', 200, 'Publisher 1')
(14, 'Book 2', 'Author 2', '987-654-321', 150, 'Publisher 2')
(15, 'Book 3', 'Author 3', '555-555-555', 250, 'Publisher 3')
(16, 'Book 1', 'Author 1', '123-456-789', 200, 'Publisher 1')
(17, 'Book 2', 'Author 2', '987-654-321', 150, 'Publisher 2')
(18, 'Book 3', 'Author 3', '555-555-555', 250, 'Publisher 3')
(19, 'Book 1', 'Author 1', '123-456-789', 200, 'Publisher 1')
(20, 'Book 2', 'Author 2', '987-654-321', 150, 'Publisher 2')
(21, 'Book 3', 'Author 3', '555-555-555', 250, 'Publisher 3')
(22, 'Book 1', 'Author 1', '123-456-789', 200, 'Publisher 1')
(23, 'Book 2', 'Author 2', '987-654-321', 150, 'Publisher 2')
(24, 'Book 3', 'Author 3', '555-555-555', 250, 'Publisher 3')
(25, 'Book 1', 'Author 1', '123-456-789', 200, 'Publisher 1')
(26, 'Book 2', 'Author 2', '987-654-321', 150, 'Publisher 2')
(27, 'Book 3', 'Author 3', '555-555-555', 250, 'Publisher 3')
(28, 'Book 1', 'Author 1', '123-456-789', 200, 'Publisher 1')
(29, 'Book 2', 'Author 2', '987-654-321', 150, 'Publisher 2')
(30, 'Book 3', 'Author 3', '555-555-555', 250, 'Publisher 3')
(31, 'Book 1', 'Author 1', '123-456-789', 200, 'Publisher 1')
(32, 'Book 2', 'Author 2', '987-654-321', 150, 'Publisher 2')
(33, 'Book 3', 'Author 3', '555-555-555', 250, 'Publisher 3')